<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="./scripts/home.js" type="text/javascript"></script>
<script src="./scripts/homescreen.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="./styles/home.css">

<!------ Include the above in your HEAD tag ---------->
</head>
<div class="container">
        <div class="row i-am-centered justify-content-md-center" >
                <div class="col-xs-6 col-md-4">
                        <div class="input-group">
                          <input type="text" class="form-control " placeholder="Search" id="txtSearch" />
                          <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                              search
                            </button>
                          </div>
                        </div>
                </div>
                  
        </div>

        <div class="row">
            <div class="col-lg-12 my-3">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-info" id="list">
                            List View
                        </button>
                        <button class="btn btn-danger" id="grid">
                            Grid View
                        </button>
                    </div>
                </div>
            </div>
        </div> 
    <div id="products" class="row view-group">
        
        
                <div>loading...</div>

                
               

              
        
    </div>
</div>
</html>
